* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 4rem;
    height: 4rem;
    
}

.content {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    // width: 70%;
    // margin: auto;
}

.search {
    display: flex;
    border: 2px solid #2BA744;
    border-radius: 100vh;
    height: 60px;
    padding: 3px;
    width: 60px;
    position: relative;
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    overflow: hidden;

    &__input {
        flex-grow: 1;
        border: none;
        background: transparent;
        padding: 0 0.5rem;
        font-size: 1.6rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        opacity: 0;
        width: calc(100% - 60px);
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        font-size: 1.6rem;
        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 100vh;
        height: 50px;
        width: 50px;
        margin-left: auto;
        transition: background 150ms ease-in-out;

        &:focus {
            outline: none;
        }
    }

    &:focus-within {
        width: 100%;

        .search__input {
            opacity: 1;
            cursor: initial;
        }

        .search__btn {
            background: #2BA744;
            color: white;

            &:hover,
            &:focus {
                outline: 0;
                // transform: rotate(1turn);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
            }
        }
    }
}
